<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.t2studio.uek.mapper.AgentMapper">
    
    <resultMap id="agentMap" type="org.t2studio.uek.domain.Agent">
        <id property="agGuid" column="AG_GUID"/>
        <result property="agType" column="AG_TYPE"/>
        <result property="agId" column="AG_ID"/>
        <result property="agName" column="AG_NAME"/>
    </resultMap>

    <sql id="agentFields">
        a.AG_GUID,
        a.AG_TYPE,
        a.AG_ID,
        a.AG_NAME
    </sql>

    <sql id="commonSelect">
        select
            <include refid="agentFields" />
        from AGENTS as a
    </sql>
    
    <select id="get" resultMap="agentMap">
        <include refid="commonSelect" />
        where AG_GUID = #{id}
    </select>
    
    <select id="getAll" resultMap="agentMap">
        <include refid="commonSelect" />
    </select>
    
    <insert id="create"
            flushCache="true">
        insert into AGENTS (AG_GUID, AG_TYPE, AG_ID, AG_NAME)
        values (#{agGuid}, #{agType}, #{agId}, #{agName})
    </insert>

</mapper>
